html{
    font-family: Lato, sans-serif;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.navi{
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
}
.unique{
    width: 480px;
    margin: auto;
    margin-left: 300px;

}
.navi__title{
   display:flex;
   align-items:center;
   font-size:19px;
}
.navi__logo{
   margin-right:30px;
   height: 30px;
   width:30px
}
.navi__title{
   color: #23b7d9;
   font-weight: bold;
}
 .navi__menu{
    display:flex;
    flex-direction:row;
    padding = 0;
    color: #5c6b70;
    list-style:none;
    float:left;
    font-size:15;
    margin-top:17px;
 }
 .navi__menu__item{
    color: inherit;
    margin-left: 50px;
 }
 .navi__register{
    color: inherit;
    text-decoration: none;
 }
.main{
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form__input{
    width: 100%;
}
.form__label{
    display: block;
    margin-bottom: 10px;
}
.form__textarea{
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #DDF6CD;
    margin-bottom: 10px;
    border-radius: 10px;
}
.form__submit{
    background-color: #DDF6CD;
    border: none;
    font-size: 18;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: #373732;
    cursor: pointer;
}
.form__submit:hover{
    background-color: #76C645;
}
.entry{
    margin-top: 50px;
}
.entry__title{
    display:inline;
    font-size: 18px;
}
.entry__date{
    color: #7E7777;
}
.entry__content{
    font-size: 16px;
    line-height: 150%
}


.con__intro{
}
.con__intro__passage{
    color: gray
}
.con__intro__logo1{
    margin-top: -70px;
    margin-left: 300px;
}
.con__intro__title1{
    margin-left: 272px;
    margin-top: -70px;
}
.con__intro__passage1{
    margin-left: 230px;
    color: gray;
}
.con__intro__logo2{
    margin-left: 640px;
    margin-top: -70px;
}
.con__intro__title2{
    margin-top: -70px;
    margin-left: 600px;
}
.con__intro__passage2{
    color: gray;
    margin-left: 575px;
}
.con__intro__passage3{
    color: gray;
    margin-left: 590px;
}

.form__textarea{
    width: 800px;
}

