<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-weight=hold">Meme Generator</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <header class="navi" style="border:2px solid #3d90f5">
        <div class="navi__title">
            <p class="navi__title">Meme Generator</p>
        </div>
        <div class="navi__menu">
            <li class="navi__menu__item"><a href="/" class="navi__link">Random meme generator</a></li>
            <li class="navi__menu__item"><a href="     " class="navi__link">Plaza</a></li>
        </div>
    </header>
    <main class="con">
         <center>
         <section>
             <div style="border:10px solid #3d90f5 width=225px height=400px" >
                    <h1>Type in your memes</h1>
                    </div>
                    <form class="form" action="/text_generator/{{ page_index }}" method="POST">
                        <p class="form__input">
                            <center>
                            <textarea class="form__textarea" name="content_meme" id="entry" ></textarea>
                            <button class="form__submit" type="submit">Submit</button>
                            </center>
                        </p>
                    </form>
             <a href="/new_image">Click to view the picture</a>
         </section>
         </center>
                <section class="unique">
                    <h1>Selected Meme Image</h1>
                    <article class="entry">
                        <div>
                            <h2 class="entry__title"></h2>
                        </div>
                        <p class="entry__content">
                        <img src="{{ entry_img }}">
                        </p>
                    </article>
                </section>
    </main>
    <div id="app"> </div>

</body>
</html>